<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png" >
        <link rel="stylesheet" href="/css/styles.css">

    </head>

    <body>
        <div class="container">
            {{>header}}
            <img class="logo" src="/img/weatherlogo.png">
            <p>This application provides weather forecast using data from MapBox API and WeatherStack API.</p>
        </div>

        {{>footer}}

    </body>
</html>